<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>
    <body>
         <% for(var i=0; i < parent.items.length; i++) { %>
            <header class="page-header">
                <div class="container">
                        <div class="row">
                            <div class="col-sm" style="text-align: center;">
                                page <%= (i + 1) + '/' + parent.items.length %>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-sm">
                            code: <%= parent.code %>
                        </div>
                        <div class="col-sm">
                            name: <%= parent.name %>
                        </div>
                        <div class="col-sm">
                            amount: <%= parent.amount %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            create date: <%= convertJSONDateToString(parent.create_date) %>
                        </div>
                        <div class="col-sm">
                            create by: <%= parent.create_by %>
                        </div>
                        <div class="col-sm">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                                description: <%= parent.description %>
                        </div>
                    </div> 
                </div>
            </header>

            <div class="text-picture">
                <div class="container">
                    <% for(var j=0; j < parent.items[i].length; j++) { %>
                        <div class="row" >
                            
                            <% for(var k=0; k < parent.items[i][j].length; k++) { %>
                                <div class="col-4" style="text-align: center;">
                                    <img src="<%= parent.items[i][j][k].qrcode %>" alt="">
                                    <div style="text-align: center;">code: <%= parent.items[i][j][k].code %></div>
                                    <div style="text-align: center;">stutas: <%= parent.items[i][j][k].status === 1 ? 'available' : 'unvailable' %></div>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
                    
            </div>
            <div style="page-break-after: always;text-align: center;padding-top: 20px;" >page <%= (i + 1) + '/' + parent.items.length %></div> 
         <% } %>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.16/dayjs.min.js" crossorigin="anonymous"></script> -->
    </body>
</html>


<style>
    
    body {
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
    }
    .page-header {
        background-color: #FFFFFF;
        color: #000000;
        margin-top: 0;
        text-align: left;
        padding: 2.5% 0;
    }
</style>